<!DOCTYPE HTML>
<html>
  <head><title></title></head>
  <body>
<h1>Welcome to the Nested Forms Lab!</h1>
<form method="post" action="/pirates">
  Pirate name: <input type="text" name="pirate[name]"><br/>
  Pirate Weight: <input type="text" name="pirate[weight]"><br/>
  Pirate Height: <input type="text" name="pirate[height]"><br/>
  <% 2.times do |i| %>
  ship_name_<% i %>: <input type="text" name="pirate[ships][][name]"><br/>
  Ship Type: <input type="text" name="pirate[ships][][type]"><br/>
  Ship Booty: <input type="text" name="pirate[ships][][booty]"><br/>
  <% end %>
  <input type="submit" name="submit" value="submit">
</form>
</body>
</html>