<!DOCTYPE HTML>
<html>
  <head><title></title></head>
  <body>
<h1>Welcome to the Nested Forms Lab!</h1>
<form method="post" action="/show">
  <input type="text" name="pirate[name]">
  <input type="text" name="pirate[weight]">
  <input type="text" name="pirate[height]">
  <input type="text" name="pirates[ships][][name]">
  <input type="text" name="pirates[ships][][name]">
  <input type="submit" name="submit" value="submit">
</form>
</body>
</html>