<h1>Display your Pirate here</h1>
Pirate name: <%= @pirate.name %>
Pirate height: <%= @pirate.height %>
Pirate weight: <%= @pirate.weight %>

<h2>Display your first ship here</h2>
<%= @ships.each do |ship| %>
<% ship.name %>
<% end %>


<h2>Display your second ship here</h2>
